/*

        Base


*/


h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0;
  padding: 0;
}


.form {}

.fieldset {
  margin: 0;
  padding: 1rem;
}

.label {
}

.input {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  //font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: none;
  max-width: 100%;
  &::-webkit-input-placeholder {
    line-height: 1.5;
  }
}

.select {
  margin-bottom: 1rem;
  padding: .5rem;
}


// Width Media Queries

@mixin break($point) {
  @if $point == small {
    @media screen and (max-width: 639px) { @content; }
  }
  @else if $point == medium {
    @media screen and (min-width: 640px) { @content; }
  }
  @else if $point == large {
    @media screen and (min-width: 1024px)  { @content; }
  }
}
