/*

        Mathematical Type


*/

body {
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
}

/* Mobile-first font sizes
*/
h1, .h1 {
  font-size: 2rem;
  line-height: 1.25;
}
.h1-res {
  @include break(medium) {
    font-size: 4rem;
  }
  @include break(large) {
    font-size: 6rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  line-height: 1.25;
}

.h2-res {
  @include break(medium) {
    font-size: 2rem;
  }
  @include break(large) {
    font-size: 3rem;
  }
}


// Use this for simpler type scales

h3, h4, h5, h6 {
  font-size: 1.25rem; // Used to be 1.125rem for xsmall
}

p, ul, ol, .p {
  font-size: 1.25rem; // Used to be 1.125rem for xsmall
}

small, .small {
  font-size: .875rem;
  -webkit-text-size-adjust: 100%;
  @include break(medium) {
    font-size: 1rem;
  }
}

strong, .bold {
  font-weight: 700;
}
.reg {
  font-weight: normal;
}
.i {
  font-style: italic;
}

.caps { 
  text-transform: uppercase;
  letter-spacing: .2em;
}

code, pre, kbd, samp, .mono { font-family: "Source Code Pro", "source-code-pro", monospace; }

//.salome { font-family: "salomeitalic", serif; }

.txtcen { text-align: center; }
.txtri  { text-align: right; }
