<!doctype html>
<html id="app">
  <meta charset="utf-8">
  <title>Spectral 2</title>
  <link rel="stylesheet" href="css/base.css">
<head>
</head>
<body class="white bg-dark-gray">

  <header class="absolute top-0 left-0 right-0 z1 clearfix lh3">
    <div class="right lh3 px2">
      <button class="button-dark" v-on="click: removeColumn()">-</button>
      <button class="button-dark" v-on="click: addColumn()">+</button>
    </div>
    <h1 class="h3 caps lh3 overflow-hidden px2 m0">Spectral 2</h1>
  </header>

  <main class="Tile-container clearfix">
    <div class="Tile-row"
      v-style="height: 100 / (rows.length + 1) + '%'">
      <div class="Tile"
        v-transition
        v-style="
          background-color: base,
          width: tileWidth + '%'">
          <div class="h6 caps bold center">
            {{ base }}
          </div>
      </div>
      <div class="Tile"
        v-repeat="spectrum"
        v-style="
          background-color: color,
          width: tileWidth + '%'"> 
          <div class="h6 caps bold center">
            {{ color }}
          </div>
      </div>
    </div>
    <div class="Tile-row"
      v-repeat="rows"
      v-style="height: 100 / (rows.length + 1) + '%'">
    </div>
  </main>


  <section id="options" class="p2 mb4">
    <div class="clearfix mxn2">
      <form class="lg-col lg-col-3 px2">
        <label class="block">Base Color</label>
        <input type="color" class="right button rounded ml1" v-style="background-color: base" placeholder="e.g. #f00" v-model="base">
        <div class="overflow-hidden">
          <input type="text" class="block full-width input-dark" placeholder="base color" v-model="base">
        </div>
      </form>
      <div class="md-col md-col-4 lg-col-3 px2">
        <label>Hue {{ Math.floor(baseH) + '°' }}</label>
        <div class="py1 rounded" style="" v-style="background-image: hGradient">
          <input type="range" class="block m0 full-width" max="359" v-model="baseH">
        </div>
      </div>
      <div class="md-col md-col-4 lg-col-3 px2">
        <label>Saturation {{ Math.floor(baseS * 100) + '%' }}</label>
        <div class="py1 rounded" style="" v-style="background-image: sGradient">
          <input type="range" class="block m0 full-width" max="1" step=".001" v-model="baseS">
        </div>
      </div>
      <div class="md-col md-col-4 lg-col-3 px2">
        <label>Lightness {{ Math.floor(baseL * 100) + '%' }}</label>
        <div class="py1 rounded" style="" v-style="background-image: lGradient">
          <input type="range" class="block m0 full-width" max="1" step=".001" v-model="baseL">
        </div>
      </div>
    </div>
  </section>


  <footer class="px2 py4 bg-mid-gray">
    <p>
      Made with love by
      <a href="http://jxnblk.com" class="white">Jxnblk</a>
    </p>
  </footer>

  <script src="js/app.js"></script>
</body>
</html>
