<!doctype html>
<html lang="en" ng-app="spectral">
<head>
  <meta charset="utf-8">
  <title>Spectral</title>
  <meta name="description" content="A Simple CSS Color Palette Creator by Jxnblk">
  <link rel="stylesheet" href="style.css"/>
  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//use.typekit.net/nvo4ukh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body ng-controller="ListCtrl" class="bg-dkgry">
  <div class="bg-wht">
    <header class="pt1 pr2 pb1 pl2 mdgry">
      <h1 class="h2 reg">Spectral</h1>
      <p>A Simple CSS Color Palette Creator</p>
    </header>

    <div ng-view></div>
  </div>

  <footer class="p2 bg-dkgry wht" ng-controller="ShareCtrl">
    <a href="" ng-click="tweet()" class="btn btn-med btn-link mb1 mr1">Tweet</a>
    <input type="text" ng-model="shareUrl" onclick="this.focus();this.select()" class="input" readonly />
    <p class="mdgry small">Classes are intended for use with multi-class CSS patterns.</p>
    <p class="mdgry small">Fork me on <a href="https://github.com/jxnblk/Spectral">Github</a>. Made with love by <a href="http://jxnblk.com">Jxnblk</a></p>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
