/*
    Spectral 2

*/


@import "basscss-base";
@import "basscss-utilities";
@import "basscss-table-object";
@import "basscss-grid";
@import "basscss-color-basic";


:root {

  --font-family: 'Avenir Next', sans-serif;
  --heading-font-weight: 600;
  --bold-font-weight: 600;

  --dark-gray: #111;
  --mid-gray: #777;

}

html, body { height: 100% }
header { min-height: 12.5% }
main   { height: 75% }

.icon {
  width: 1em;
  height: 1em;
  position: relative;
  top: .125em;
}

.Tile-container {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
}

.Tile {
  display: inline-block;
  font-size: 1rem;
  min-height: 8rem;
  overflow: hidden;
}

.Tile.v-enter {
}
.Tile.v-leave {
}

.transition-all {
  transition: all .3s ease-out;
}

